body {
    background: lightblue;
}
/* trying to get the heading and list to go in a row */
header {
    display:flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 1%;
    /* flex-direction: row; */
    background-color: cadetblue;
    color:blueviolet;
    flex-wrap: wrap;
}


h1 {
color:azure;
margin-left: auto;
padding: auto;
font-size: 100px;
font-family:Arial, Helvetica, sans-serif;
border: 5%;
}

.Projects{
    background-color: teal;
    width: 200%;
    height:100%;
    text-align: bottom left;

}
h2 {
 color:blueviolet;
 margin:auto;
 padding: 5%;
 font-size: 50px;
 font-family:Arial, Helvetica, sans-serif;
 flex-direction: column;

}
aside {
    /* float: right; */
margin-top: 300px;

 /* justify-content: last baseline; */
}


article h2 {
    width: 1px;
    height: 1px;
}
/* img article h2 {
    padding: 1px;
    margin: 1px;
    justify-content: flex-start; */

div .container{
    align-items: stretch;
}
nav {
    display:flex; 
    /* justify-content: space-between; */
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif; 
    flex-wrap: wrap;

}
nav a {
    margin-right: 20px;
}
nav :hover{
    color:coral;
}
h3 {
    color:aqua;
    margin: auto;
    padding: 20%;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;

}

aside h3 {
    width:auto;
    float: right;
    padding: 15px;
    
}
 
section  {
    flex: 1 1 0;
    padding-left: 5%;

}
.content{
    display: flex;
    flex-direction: row;
    /* align-content:baseline; */
    flex-wrap: wrap;
}
.container {
    position:relative;
    text-align: left;
    color: black;
}
.bottom-left {
    
    bottom: 8px;
    left: 16px;
}
div p {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration:underline;
    align-items: flex-start;
}
  
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
 }
 #Surf{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/17/14/33/wave-1913559_1280.jpg");
    width: 400px;
    height: 400px;
}
#Forest{
 background-image: url("https://cdn.wallpapersafari.com/53/67/un65HA.jpg");
 width: 400px;
 height: 400px;
}

#Calculator {
    background-image: url("https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2FsY3VsYXRvcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    width: 400px;
    height: 400px;
}

#Pastel {
    background-image: url("https://media.istockphoto.com/id/1394663855/photo/puzzle-pieces-in-tunnel-of-light.webp?b=1&s=170667a&w=0&k=20&c=xwcXP5uTAH5R115HSFGwtZFaUR7R6wlnj04ON4NQ03k=");
    width: 400px;
    height: 400px;
}

#Run {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL0KjNw8FiUgbLIxElVLvRK0oX3KYMVQEow28_BGVgR-H_jx_sYDVGLBpz-bTi91QlCSo&usqp=CAU");
    width: 400px;
    height: 400px;
}