/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
body {
    background: lightblue;
}
/* trying to get the heading and list to go in a row */
header {

    display:flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 1%;
    /* flex-direction: row; */
    background-color: cadetblue;
    color:blueviolet;
    flex-wrap: wrap;
}


h1 {
color:azure;
margin-left: auto;
padding: 1px;
font-size: 100px;
font-family:Arial, Helvetica, sans-serif;
border: 20%;
align-items: flex-end;

}

.Projects{
    /* background-color: teal; */
    width: 150%;
    height:150%;
    text-align: bottom left;
    padding: 20%;
    width:auto;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100%;
    align-content: stretch;

}
h2 {
 color:blueviolet;
 margin:auto;
 padding: 5%;
 font-size: 50px;
 font-family:Arial, Helvetica, sans-serif;
 flex-direction: column;

}
aside {
    /* float: right; */
margin-top: 300px;

 /* justify-content: last baseline; */
}


 /* h2 {
    border: 10px;
    width: 1px;
    height: 1px;
} */
/* img article h2 {
    padding: 1px;
    margin: 1px;
    justify-content: flex-start; */

div .container{
    align-items: stretch;
}
nav {
    display:flex; 
    /* justify-content: space-between; */
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif; 
    flex-wrap: wrap;

}
nav a {
    margin-right: 20px;
}
nav :hover{
    color:coral;
}
h3 {
    margin: auto;
    padding: 20%;
    font-size: 20%;
    font-family:Arial, Helvetica, sans-serif;

}

aside h3 {
    width:auto;
    float: right;
    padding: 15px;
    font-size: 20%;
    
}
 
section  {
    padding: 10px;
    border: 20px;
    margin: 15px;
    flex: 1 1 0;
    padding-left: 5%;

}
.content h2{
    display: flex;
    flex-direction: row;
    /* align-content:baseline; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:flex-start;
    
}
.container {
    margin: 100px;
    padding: 70px;
    /* position:relative; */
    text-align: left;
    color: black;
    flex-grow: 1,2,2,3,2;
    /* display: flex;
     */
}
/* profile image still needs work.  */
#About  {
   background-image: url("https://i.pinimg.com/originals/f6/f8/93/f6f89358586c1ecf97ef08e2cb726d80.jpg") ;
   width: 75%;
   padding: 5%;
   background-repeat: no-repeat;
   background-size: cover;
}
.container {
    padding: 5%;
    display: flexbox;
    align-self: auto;
    flex-direction: column;
    float:right;

}
/* added a . to show this is a class */
.bottom-left {
    font-size: 20%;
    bottom: 8px;
    left: 16px;
}
/* div p {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration:underline;
    align-items: flex-start;
} */
.flex-container {
display: flex;
flex-direction: column;
}
#Surf .Projects{
    width: 95%;
    overflow:hidden;
    margin-top: 20px auto;
    padding: 20px auto;

}
#Forest .Projects{
    width: 75%;
    overflow: auto;
    margin: 20px auto;
    padding: 20px auto;
}
#Calculator .Projects{
    width:75%;
    height:50%;
    overflow: auto;
    margin: 20px, auto;
    padding: 20px auto;
}
#Pastel-Puzzle, .Projects{
    width: 100%;
    overflow: auto;
    margin: 20px auto;
    padding: 20px auto;
}
#Run-Buddy .Projects{
    width: 100%;
    overflow: auto;
    margin: 20px auto;
    padding: 20px auto;
}
 div .class, .Projects,.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: flex-start;
 }
 /* added a # sign to signify it is a id */
 #Surf{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/17/14/33/wave-1913559_1280.jpg");
    border-image-outset:0cap;
    background-repeat: no-repeat;
    
}
#Forest{
   background-image: url("https://cdn.wallpapersafari.com/53/67/un65HA.jpg");
   width: 100%;
   height: 100%;
   background-size:absolute;
}

#Calculator {
    background-image: url("https://images.unsplash.com/photo-1625225233840-695456021cde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2FsY3VsYXRvcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    width: 400px;
    height: 400px;
    background-size:auto;
}

#Pastel-Puzzle {
    background-image: url("https://media.istockphoto.com/id/1394663855/photo/puzzle-pieces-in-tunnel-of-light.webp?b=1&s=170667a&w=0&k=20&c=xwcXP5uTAH5R115HSFGwtZFaUR7R6wlnj04ON4NQ03");
    width: 400px;
    height: 400px;
    background-size:auto;
}

#Run-Buddy{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL0KjNw8FiUgbLIxElVLvRK0oX3KYMVQEow28_BGVgR-H_jx_sYDVGLBpz-bTi91QlCSo&usqp=CAU");
    width: 400px;
    height: 400px;
    background-size:auto;
}

.container{
    box-sizing: border-box;
    border: solid;
    margin: 70px;
    padding: 70px;
    height: 100px,
    
}

#Surf, #Forest, #Calculator, #Pastel-Puzzle, #Run-Buddy {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}
/* header changes color */
@media screen and (max-width:992px) {
    header {
    background-color: light pink;
  }
}
/* screens 768px or less nav turns color */
@media screen and (max-width:768px) {
    nav {
        background-color:chartreuse;
    }
}

@media screen and (max-width: 576px) {
    .content {
        width: 100%;
        background-color: chocolate;
    }
}